USE [master]
GO
/****** Object:  Database [PRACTICA2]    Script Date: 03/03/2020 08:33:56 p.m. ******/
CREATE DATABASE [PRACTICA2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRACTICA2', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PRACTICA2.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PRACTICA2_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PRACTICA2_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRACTICA2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRACTICA2]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 03/03/2020 08:33:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carrera](
	[idCarrera] [int] NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Semestre] [int] NULL,
	[Abreviatura] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Coordinador]    Script Date: 03/03/2020 08:33:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Coordinador](
	[idCoordinador] [int] NULL,
	[NombreC] [varchar](20) NULL,
	[APaterno] [varchar](20) NOT NULL,
	[AMaterno] [varchar](20) NOT NULL,
	[Sexo] [char](1) NULL,
	[Edad] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 03/03/2020 08:33:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Materia](
	[idMateria] [int] NULL,
	[Materia] [varchar](30) NOT NULL,
	[Semestre] [int] NULL,
	[Carrera] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 03/03/2020 08:33:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Profesor](
	[idProfesor] [int] NULL,
	[NombreP] [varchar](20) NOT NULL,
	[APaterno] [varchar](20) NOT NULL,
	[AMaterno] [varchar](20) NOT NULL,
	[Sexo] [char](1) NULL,
	[Edad] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Salon]    Script Date: 03/03/2020 08:33:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Salon](
	[idSalon] [int] NULL,
	[Edificio] [char](1) NULL,
	[Capacidad] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
